.mainDiv {
    width: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color: white;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.error {
    background-color: red;
}

.success {
    background-color: greenyellow;
}